<section id="musicPlay" data-client="{{client_key}}">
    <div class="player">
        <div class="playerInner">
            <div class="scrub spin"></div>
            <div class="scrub scrubFill"></div>
            <div class="scrubHide"></div>
        </div>
        <a href="#" id='play' style="display:block;" data-status='inactive'>
            <img src="/images/play_icon.png">
        </a>
        <a href="#" id='pause' style="display:none;">
            <img src="/images/pause_icon.png">
        </a>
    </div>
</section>